<div class="table">
  <h2>Administrar Clientes</h2>
  <div class="abc">
    <md-input-container>
<input type="text" mdInput placeholder="Buscar cliente" [formControl]="filterInput" />
    </md-input-container>
    
    <button md-raised-button (click)="openModalNuevo()">Nuevo Cliente</button>
  </div>
  <table class="clientes">
    <tr>
      <td><span class="badge">Cedula</span></td>
      <td><span>Nombre</span></td>
      <td><span>Direccion</span></td>
      <td><span>Telefono</span></td>
      <td><span>E-Mail</span></td>
      <td></td>
    </tr>
    <tr *ngFor="let cliente of clientes | async" [class.selected]="cliente === selectedCliente">
      <td><span class="badge">{{cliente.cc}}</span></td>
      <td><span>{{cliente.name}}</span></td>
      <td><span>{{cliente.adress}}</span></td>
      <td><span>{{cliente.phone}}</span></td>
      <td><span>{{cliente.email}}</span></td>
      <td>
        <button (click)="openModalVer(cliente)" _ngcontent-c16="" md-button="" class="md-button"><md-icon _ngcontent-c16="" role="img" class="material-icons mat-icon" aria-label="check">visibility</md-icon></button>
        <button (click)="openModalEditar(cliente)" _ngcontent-c16="" md-button="" class="md-button"><md-icon _ngcontent-c16="" role="img" class="material-icons mat-icon" aria-label="check">create</md-icon></button>
        <button (click)="delete(cliente)" _ngcontent-c16="" md-button="" class="md-button"><md-icon _ngcontent-c16="" role="img" class="material-icons mat-icon" aria-label="check">clear</md-icon></button>
      </td>
    </tr>
  </table>
  <pagination *ngIf="(clientes|async)?.length" [totalItems]="(clientes|async)?.length" [itemsPerPage]="1"></pagination>
<pre class="card card-block card-header">The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
</div>